@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
      <a href="/Department/index" class="btn btn-outline-primary"> <span class="display-6">Departments</span></a>
     |
     <a href="/Reminders/index" class="btn btn-outline-success"><span class="display-6">Reminders</span></a>
</div>
